.event-card__image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.event-card{
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 10px;
    border-radius: inherit;
}

.event-card__info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.event-card__date{
    display: flex ;
    flex-direction: row;
    gap: 8px;
}

.event-card__location{
    text-decoration: none;

}
.owner__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
}

.event-card__buttons{
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
}

.event-card__buttons > .more_button {
    margin-bottom: 0%;
}